$maxw1 : 1000px;
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import "https://fonts.googleapis.com/css?family=Lato:300";
$sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$titre: 'Oswald';
$bleu: #759EBA;
$gray: #35302D;
$gray-shine: #3C3735;
$white-off: #DFDBD9;

/*---------------------- NAV -----------------*/
* {
   letter-spacing: 0.001em;
   /*letter-spacing: 1px;*/
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-text-size-adjust: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }


*, :before, :after{ box-sizing: border-box; }


// REUSABLE STYLES
.unstyled{ list-style: none; padding: 0; margin: 0;
  a{ text-decoration: none; }
}
.list-inline{ overflow: hidden;
  li{ float: left; }
}

// HEADER STYLES
.header{
  z-index: 2;
  position: fixed;
  float: right;
  right: 0;
  width: 25%;
  background: $gray;
}

.logo{
  font: 300 2.1em $sans;
  text-align: center;
  padding: 0; margin: 0;
  
  a{
    display: block;
    padding: 2em 0;
    color: $white-off;
    text-decoration: none;
    transition: .15s linear color;
    
    &:hover{
      color: #fff;
      span{ color: $bleu; }
    }
  }
  
  span{
    font-weight: 700;
    transition: .15s linear color;
  }
}

// MAIN div
.main-nav{
  
  ul{
    border-top: solid 1px $gray-shine;
  }
  
  li{
    border-bottom: solid 1px $gray-shine;
  }
  
  a{
    padding: 1.1em 0;
    color: $white-off;
    font: 400 1.5em $sans;
    text:{
      align: center;
    }
    
    &:hover{
      color: $bleu;
    }
  }
}

// SOCIAL LINKS
  .social-links{
  border-bottom: solid 1px $gray-shine;
  
  li{
    width: 50%;
    border-left: solid 1px $gray-shine;
    &:first-child{ border: none; }
  }
  
  a{
    display: block;
    height: 5.5em;
    text-align: center;
    color: $white-off;
    font: 1em/5.5em $sans;
  }
}


// HOVER SLIDE EFFECT
.list-hover-slide{
  
  li{
    position: relative;
    overflow: hidden;
  }
  
  a{
    display: block;
    position: relative;
    z-index: 1;
    transition: 1s ease color;
    
    &:before{
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      right: -100%; top: 0;
      width: 100%; height: 100%;
      border-left: solid 5px $bleu;
      background: $gray-shine;
      transition: 1s ease right;
    }
    
    &.is-current,
    &:hover{
      color: $bleu;
      &:before{
        right: 0;
      }
    }
  }
}


#hamburger-button {
  float: right;
  margin: 10%;
  border: none;
  font-size: 30px;
  vertical-align: top;
  line-height: 40px;
  color: $bleu;
  background-color: $gray;
  z-index: 2;
}

#hamburger, #hamburger-content {
    display: inline;
}



#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 50%;
    z-index: 20;
    height: 100%;
    overflow-y: auto;
    transform: translateX(-200%);
    background-color: $gray;
    transition: transform .2s ease-out;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


    .header{
      background-color: transparent;
    }

    #hamburger-content {
        display: none;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    #hamburger-sidebar{
      width: 75%;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(-100%);
    }







/* ------------------Acceuil -----------------------------------------------------------------*/




body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $gray;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  section {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    transition-duration: 0.5s;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
      opacity: 1;
      transition: 0.3s;
    }
    &.sec01 {
      background: url("../img/ours.jpg");
    }
    &.sec02 {
      background: url("../img/ours3.jpg");
    }
    &.sec03 {
      background: url("../img/ours2.jpg");
    }
    &.sec01, &.sec02, &.sec03 {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &:hover section {
    &:hover {
      width: 40%;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      &::before {
        opacity: 0;
      }
    }
    &:not(:hover) {
      width: 30%;
    }
  }
}

.alternative {
  display: inline-block;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Lato", Arial, sans-serif;
  letter-spacing: 0.08em;
  line-height: 1;
  font-size: 45px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.4);
  padding: 0.6em 1em;
  a {
    margin-top: 15px;
    font-size: 1.2rem;
    display: block;
    padding: 0.6em 0;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-duration: 0.3s;
    &:hover {
      background: rgba(255, 255, 255, 0.6);
      color: #333;
    }
  }
}





@media (max-width: $maxw1) {
  div {
    a{
      width: 100%;
    }
  }

  .alternative{
    left: 50%;
  }
  .wrapper{
    width: 100%;
  }  
}

// ------------ MOI ------------------------------------------------------------------------------------------


.presentation{

  display: block;
  overflow: hidden;

  h2{
    font: 2.2em $titre;
    font-weight: bold;
    color: $bleu;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 15%;
  }

  img{
    width: 20%;
    height: 20%;
    position: relative;
    margin-left: 10%;
    float: left;
  }

  p{
    width: 50%;
    color: $white-off;
    font: 1em $sans;
    float: left;
    margin-left: 2%;
    margin-top: 0;
  }
}

@media (max-width: 1200px ) {
  .presentation{
    img{
      width: 80%;
      margin-bottom: 4%;
    }
    p{
      margin-left: 10%;
      width: 80%;
    }
  }
} 

// ---------------------- COMPETENCES-------------------------------------------------------------------------

.competence{
  display: block;
  overflow: hidden;

  h2{
    font: 2.2em $titre;
    font-weight: bold;
    color: $bleu;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 20%;
  }
}

.box {
  h1{
    font: 1.4em $sans;
    text-align: center;
    color: $white-off;
    margin-top: 1%;
    text-decoration: underline $bleu;
  }
  width: 40%;
  margin: 1% 0 0 6%;
  float: left;
}

.bg {
  background: rgba(171, 164, 164, 0.2);
  margin: 0 auto;
}





.php,.css,.html, .java, .javascript, .arduino, .ra, .xampp, .eclipse{
  background: -webkit-linear-gradient(135deg, #088DE1 25%, #086FB0   25%, #086FB0   50%, #088DE1 50%, #088DE1 75%, #086FB0   75%);
  background: -moz-linear-gradient(135deg, #088DE1 25%, #086FB0   25%, #086FB0   50%, #088DE1 50%, #088DE1 75%, #086FB0   75%);
  background: -o-linear-gradient(135deg, #088DE1 25%, #086FB0   25%, #086FB0   50%, #088DE1 50%, #088DE1 75%, #086FB0   75%);
  width: 60%;
  height: 2%;
  padding:  2% ;
  background-size: 50px 50px;
  font-family: $sans;
  -webkit-animation: animasi 2.5s linear infinite;
  -moz-animation: animasi 2.5s linear infinite;
  -o-animation: animasi 2.5s linear infinite;

}


@-webkit-keyframes animasi {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}


@-moz-keyframes animasi {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}


@-o-keyframes animasi {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}


.right {
  float: right;
  color: $white-off;
  font-size: 1em;
  margin-top: 1px;  
}

.left {
  color: $white-off;
  font-size: 1em;
  margin-top: 1px;
}

.cv {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: $sans;
  letter-spacing: 0.08em;
  font-size: 1.5em;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.4);
  padding: 1% 1.5%;
  width: 35%;
  margin: 7% 0% 0 20%;
  a {
    margin-top: 3%;
    font-size: 1em;
    display: block;
    padding: 2% 0;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-duration: 0.3s;
    &:hover {
      background: rgba(255, 255, 255, 0.6);
      color: #333;
    }
  }
}




@media (max-width: 450px ) {
  .competence, .presentation{
    h2{
      font-size: 1.1em;
    }
  }
}


@media (max-width: $maxw1) {
  .box{
    width: 90%;
  }
  .cv{
    margin-left: 45%;
    margin-top: 10%;
    font-size: 1em;
    width: 60%;
    padding: 2% 5.5%
  }
}


//------------- PORTFOLIO ----------------------------------------------------------------------------------



.portfolio{
  display: block;
  overflow: hidden;

  h2{
    font: 2.2em $titre;
    font-weight: bold;
    color: $bleu;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 15%;
  }
}


.bgcolor{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  background-image: linear-gradient(to top, #005ed8, #0072d6, #2483ce, #4f91c5, #759eba);


  p{
    position: relative;
    text-align: center;
    font: 20px $sans;
    color: $white-off;
  }

  h1{
    text-align: center;
    font: 36px $titre;
  }


}

.boutton{ 
    width: 100%;
    max-width: 35%;
    text-align: center;
    padding: 10px 10% ;
    border : 2px solid $white-off;
    border-radius: 2px;
    font: 18px $sans;
    background-color: $gray;
    color: $white-off;    
    &:hover{
        color: $gray;
        background-color: $bleu;
        border-color: $gray;
        transition: all 0.5s ease-out;
    }

    b, span{
      vertical-align: middle;
      text-transform: uppercase;
    }
}

.item:hover>.bgcolor{
  transition-duration:0.5s;
  opacity: 0.8;
  z-index: 1000;
}



//---------------------------- CONTACT ---------------------------------------------------------------------------




.contact{
  h2{
    font: 2.2em $titre;
    font-weight: bold;
    color: $bleu;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 15%;
  }
  p{
    font: 1.25em $sans;
    text-align: center;
    width: 40%;
    margin : 5px 0 5px 30%;
    color: $white-off;
  }
}


.formulaire{
    input, textarea{
        width: 50%;
        margin: 0 0 15px 25%;
        padding: 5px;
        border: 2px solid $bleu;
        border-radius: 4px; 
        font: 1.2em $sans;
        font-weight: bold;
        background-color: $gray;
        color: rgba(223,219,217,0.8);
    }
    :focus{
        outline-color: $bleu;
    }
    textarea{
        height: 150px;
        margin-bottom: 10px;
    }
}


.boutton{ 
    width: 15%;
    height: 5%;
    margin: 0 0 0 42.5%;
    padding: 5px;
    border : 2px solid $bleu;
    border-radius: 4px;
    font: 1.2em $sans;
    background-color: $gray;
    color: $bleu;    
    &:hover{
        color: $white-off;
        background-color: $bleu;
        transition: all 0.3s ease-out;
    }
}


.file-input {
 margin: 0 10% 3% 25%;
  display: inline-block;
  text-align: left;
  background: $gray;
  padding: 10px;
  position: relative;
  border-radius: 4px;
  border : 2px solid $bleu;
  > {
    [type='file'] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 10;
      cursor: pointer;
    }
    .button {
      font: 1.2em $sans;
      display: inline-block;
      cursor: pointer;
      background: rgba(223,219,217,0.8);;
      padding: 3px 10px;
      border-radius: 2px;
      margin-right: 8px;
    }
  }
  &:hover > .button {
    background: $bleu;
    color: $white-off;
    transition: all 0.3s ease-out;
  }
  > .label {
    color: rgba(223,219,217,0.8);
    white-space: nowrap;
  }
  &.-chosen > .label {
    opacity: 1;
  }
}

/* ------------------------------------------- TOP ---------------------------------------------- */


.to-top{

  text-align: center;
  font-family: $sans;
  color:white;
  padding-top:1.8em;
  display:inline-block;/* or block */
  position:relative;
  border-color:white;
  text-decoration:none;
  transition:all .3s ease-out;
}
.to-top:before{
  content:'▲';
  font-size:1em;
  position:absolute;
  top:0;
  left:50%;
  margin-left:1em;
  border:solid .13em white;
  border-radius:10em;
  width:2.4em;
  height:2.4em;
  line-height:1.3em;
  border-color:inherit;
  transition:transform .5s ease-in;
}
.to-top:hover{
  color:$bleu;
  border-color:$bleu;
}
.to-top:hover:before{
  transform: rotate(360deg);
}